In [ ]:
#--------------------( Instalar as bibliotecas )--------------------#

# !pip install pymssql
# !pip install pyodbc

In [ ]:
#--------------------( Importar as bibliotecas )--------------------#

from datetime import date
import time
import socket
import pandas as pd
import pyodbc
import pymssql

In [ ]:
#--------------------( Fazer o acesso no SQL )--------------------#

conn = pymssql.connect(server='tms-drp-oficial.database.windows.net', 
                       database='tms', 
                       user='appTableau', 
                       password='Tjd82#jks2')

sql_query = """SELECT * FROM ACAO"""

In [ ]:
#--------------------( Colocar os dados em uma variavel e tratar )--------------------#

df = pd.read_sql(sql_query, conn)